@page "/Profile"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject ISuggestionData suggestionData
@inject IUserData userData
@inject NavigationManager navManager

<h1 class="page-heading text-uppercase mb-4">My Profile</h1>
<div class="row">
    <div class="col-12 close-button-section">
        <button class="btn btn-close" @onclick="ClosePage"></button>
    </div>
</div>

<div class="form-layout mb-3">
    <h2 class="my-submittion-heading">My Account</h2>
    <p class="my-submittion-text">
        <a href="MicrosoftIdentity/Account/EditProfile">
            Edit Profile
        </a>
    </p>
</div>

@if(_approved?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submittion-heading">Approved Suggestions</h2>
        <p my-submittion-text>These are your suggestions that are currently active.</p>
        @foreach (var suggestion in _approved)
        {
            <hr class="my-submittion-separator"/>
            <div class="fw-bold suggestion-detail-suggestion">
                @suggestion.Suggestion
            </div>
            <p class="my-submittion-text">
                @suggestion.DateCreated.ToString("MM.dd.yyyy")
            </p>
            <p class="my-submittion-text">
                Total Votes: @suggestion.UserVotes.Count()
            </p>
            <p class="my-submittion-text">
                @suggestion.Category.CategoryName
            </p>
            <p class="my-submittion-text">
                @suggestion.Description
            </p>
            @if (suggestion.SuggestionStatus != null)
            {
                <div class="fw-bold suggestion-detail-suggestion">
                    @suggestion.SuggestionStatus.StatusName
                </div>
                <p class="my-submittion-text">
                    @((MarkupString)suggestion.OwnerNotes)
                </p>
            }
        }
    </div>
}

@if(_archived?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submittion-heading">Archived Suggestions</h2>
        <p my-submittion-text>These are your suggestions that were active but did not gain enough traction.</p>
        @foreach (var suggestion in _archived)
        {
            <hr class="my-submittion-separator"/>
            <div class="fw-bold suggestion-detail-suggestion">
                @suggestion.Suggestion
            </div>
            <p class="my-submittion-text">
                @suggestion.DateCreated.ToString("MM.dd.yyyy")
            </p>
            <p class="my-submittion-text">
                Total Votes: @suggestion.UserVotes.Count()
            </p>
            <p class="my-submittion-text">
                @suggestion.Category.CategoryName
            </p>
            <p class="my-submittion-text">
                @suggestion.Description
            </p>
            @if (suggestion.SuggestionStatus != null)
            {
                <div class="fw-bold suggestion-detail-suggestion">
                    @suggestion.SuggestionStatus.StatusName
                </div>
                <p class="my-submittion-text">
                    @((MarkupString)suggestion.OwnerNotes)
                </p>
            }
        }
    </div>
}

@if(_pending?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submittion-heading">Pending Suggestions</h2>
        <p my-submittion-text>These are your suggestions that have not yet been reviewed by the administrator.</p>
        @foreach (var suggestion in _pending)
        {
            <hr class="my-submittion-separator"/>
            <div class="fw-bold suggestion-detail-suggestion">
                @suggestion.Suggestion
            </div>
            <p class="my-submittion-text">
                @suggestion.DateCreated.ToString("MM.dd.yyyy")
            </p>
            <p class="my-submittion-text">
                Total Votes: @suggestion.UserVotes.Count()
            </p>
            <p class="my-submittion-text">
                @suggestion.Category.CategoryName
            </p>
            <p class="my-submittion-text">
                @suggestion.Description
            </p>
            @if (suggestion.SuggestionStatus != null)
            {
                <div class="fw-bold suggestion-detail-suggestion">
                    @suggestion.SuggestionStatus.StatusName
                </div>
                <p class="my-submittion-text">
                    @((MarkupString)suggestion.OwnerNotes)
                </p>
            }
        }
    </div>
}

@if(_rejected?.Count > 0)
{
    <div class="form-layout mb-3">
        <h2 class="my-submittion-heading">Rejected Suggestions</h2>
        <p my-submittion-text>These are your suggestions that were not deemed to be appropriate for the training suggestions site.</p>
        @foreach (var suggestion in _rejected)
        {
            <hr class="my-submittion-separator"/>
            <div class="fw-bold suggestion-detail-suggestion">
                @suggestion.Suggestion
            </div>
            <p class="my-submittion-text">
                @suggestion.DateCreated.ToString("MM.dd.yyyy")
            </p>
            <p class="my-submittion-text">
                Total Votes: @suggestion.UserVotes.Count()
            </p>
            <p class="my-submittion-text">
                @suggestion.Category.CategoryName
            </p>
            <p class="my-submittion-text">
                @suggestion.Description
            </p>
            @if (suggestion.SuggestionStatus != null)
            {
                <div class="fw-bold suggestion-detail-suggestion">
                    @suggestion.SuggestionStatus.StatusName
                </div>
                <p class="my-submittion-text">
                    @((MarkupString)suggestion.OwnerNotes)
                </p>
            }
        }
    </div>
}

@code {
    private UserModel _loggedInUser;
    private List<SuggestionModel> _submissions;
    private List<SuggestionModel> _approved;
    private List<SuggestionModel> _archived;
    private List<SuggestionModel> _rejected;
    private List<SuggestionModel> _pending;

    protected override async Task OnInitializedAsync()
    {
        _loggedInUser = await authProvider.GetUserFromAuth(userData);

        var results = await suggestionData.GetUsersSuggestions(_loggedInUser.Id);

        if(_loggedInUser != null && results != null)
        {
            _submissions = results.OrderByDescending(s => s.DateCreated).ToList();
            _approved = _submissions.Where(s => s.ApprovedForRelease && s.Archived == false && s.Rejected == false).ToList();
            _archived = _submissions.Where(s => s.Archived && s.Rejected == false).ToList();
            _rejected = _submissions.Where(s => s.Rejected).ToList();
            _pending = _submissions.Where(s => s.ApprovedForRelease == false && s.Rejected == false).ToList();
        }
    }
    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }
}
